@use "variables" as v;

.navbar {
  background: v.$dark;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .nav-link {
    color: white;

    &:hover {
      color: v.$secondary;
    }
  }
}
.navbar .nav-link {
  position: relative;
  color: white;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: #00c6ff;
}

.navbar .nav-link:hover::after {
  width: 100%;
}