@use "variables" as v;

.navbar {
  background: v.$dark;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .nav-link {
    color: white;

    &:hover {
      color: v.$secondary;
    }
  }
}
