h2{
    color: brown ;
}
#div1{
    width: 90%;
    height: 100%;
    background-color: seashell;
    border: 5px rgb(27, 100, 129) solid;
    margin: auto;
    /* margin-top: 20px;*/
}
#PARA{
    background-color: antiquewhite;
    border: 5px brown solid;
    padding: 20px ;
    

}



